/* 
*/

/* CSS Reset */
body,
header,
footer,
nav,
main,
footer,
h1,
ul,
div,
img,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Style rules for box sizing  applies for all elements */
*{
  box-sizing: border-box;
}
/* Style rules for body and images */
body {
  background-color: #000;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
  top: 0;
  background-color: #000;
  height: 190px;
}

header img {
  margin: 0 auto;
}
/* Style rule for hamburger menu */
.mobile-nav a{
  color: #fff;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}
.mobile-nav a.menu-icon{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* .mobile-nav a.menu-icon:hover{
  cursor: pointer;
} */
/* Style rule for navigation area */

nav li a:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.3);
}

/* Show mobile class, hide tablet-desctop class */
.mobile {
  display: block;
}

.tablet-desktop,
#menu-links{
  display: none;
}

/* Styles rules for main content */
main {
  background-color: #fff;
  padding: 2%;
  font-size: 1.15em;
  font-family: "Roboto Slab", serif;
}

.mobile h3{
  text-shadow: 5px 5px 8px #ccc;
}

.tel-link {
  background-color: #404040;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

.hours {
  margin-left: 10%;
}

h1 {
  text-align: center;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#hero {
  clear: both;
  position: relative;
}

#hero h2 {
  color: #fff;
  position: absolute;
  margin-left: 30px;
}

/* Styles rules for footer content */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}
.map {
  border: 2px solid #000;
  width: 95%;
  height: 50%;
}
#contact {
  text-align: center;
}

#contact .conatact-email-link {
  color: #666600;
  text-decoration: none;
}

.action {
  font-size: 1.35em;
  color: #666600;
  font-weight: bold;
  text-shadow: 5px 5px 8px #ccc;
}

.external-link {
  color: #666600;
  font-weight: bold;
  text-decoration: none;
}

#waights,
#cardio,
#training {
  margin: 0 2%;
}
#form{
  margin-top: 2%;
  background-color: #f2f2f2;
  padding: 2%;
}
#form h2{
  text-align: center;
}
fieldset,
input,
select,
textarea{
  margin-bottom: 2%;
}
fieldset legend{
  font-weight: bold;
  font-size: 1.25em;
}
label{
  display: block;
  padding-top: 3%;
}
form #submit{
  margin: 0 auto;
  border: none;
  display: block;
  padding: 2%;
  background-color: #b3b3b3;
  font-size: 1em;
  border-radius: 10px;
}
.frame{
  position: relative;
  max-width: 450px;
  margin: 2% auto;
}
.pic-text{
  position: absolute;
  bottom: 0;
  background: rgba(0 ,0 ,0 ,0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;

}
.round {
  border-radius: 8px;
}
.grid-item4{
  grid-column: 1 / span 3;
}
/*Media Query for Tablet*/
@media screen and (min-width: 680px) {
  .tablet-desktop {
    display: block;
  }
  .mobile, 
  .mobile-nav{
    display: none;
  }
  /*Style rule for header*/
  header {
    padding-bottom: 2%;
  }
  /*Style rule for nav area*/
  nav {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    font-size: 1.5em;
    font-family: "Francois one", sans-serif;
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
  }
  nav li:last-child {
    border-right: none;
  }
  nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.1em 0.75em;
  }
  /*Style rule for main content area*/
  main ul {
    margin: 0 0 4% 10%;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
  table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }
  caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
  }
  th, td{
    border: 1px solid #000;
    padding: 2%;
  }
  th{
    background-color: #000;
    color: #fff;
    font-size: 1.15em;
  }
  tr:nth-child(odd){
    background-color: #ccc;
  }
  form{
    width: 70%;
    margin: 0 auto;
  }
  @-webkit-keyframes text-animation {
    0% { font-size: 1em;}
    50% { font-size: 2em;}
    100% { font-size: 1.35em;}
  }
  @keyframes text-animation {
    0% { font-size: 1em;}
    50% { font-size: 2em;}
    100% { font-size: 1.35em;}
  }
  figcaption{
    -webkit-animation-name: text-animation;
    animation-name: text-animation;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }
}
  /*Media Query for Desktop*/
  @media screen and (min-width: 780px) {
    header {
      width: 25%;
      float: left;
      padding-bottom: 0;
    }
    nav {
      float: right;
      width: 70%;
      margin: 4em 1em 0 0;
    }
    nav ul {
      text-align: right;
    }
    nav ul li {
      border: none;
    }
    nav ul li a {
      padding: 0.5em 1em;
    }
    /*Desktop Viewport: Style Ryles for Main Content*/
    main {
      clear: both;
    }
    main h1 {
      font-size: 1.8em;
    }
    #waights,
    #cardio,
    #training {
      width: 29%;
      float: left;
      margin: 0 2%;
    }
    #exercises {
      clear: both;
    }
    .offer:hover{
      transform: scale(1.25);
      cursor: pointer;
    }
    .pic-text{
      font-size: 1.5em;
      padding: 20px;
    }
    .frame{
      opacity: 0.9;
    }
    .frame:hover{
      opacity: 1;
      box-shadow: 8px 8px 10px #808080;
      transform: translateY(10px);
    }
    form{
      width: auto;
    }
    .form-grid{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }
    .btn{
      grid-column: 1 / span 3;
    }
  }
  /*Media Query for Large Desktop*/
  @media screen and (min-width: 1921px) {
    #container {
      width: 1920px;
      margin: 0 auto;
    }
    table{
      width: 80%;
    }
  }

  #exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
    background: linear-gradient(to right, #ccc, #fff);
  }

  #exercises dt {
    font-weight: bold;
  }

  #exercises dd {
    padding: 0.5% 1% 2% 0;
  }
  .viewex{
    font-weight: bold;  
    cursor: pointer;
  }
  #example{
    display: none;
    margin: 0 auto;
  }
  .tel-num {
    font-size: 1.25em;
  }
  .map {
    width: 600px;
    height: 450px;
  }
}
