body {
  background-color: aqua;
}
div {
  background-color: #659494;
  color: white;
  text-align: center;
  margin: 15px;
  padding: 100px;
  border: 5px solid red;
}
#floatContainer {
  overflow: hidden;
  background-color: antiquewhite;
}
#floatContainer div {
  float: left;
}
#flexContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
  margin-top: 20px;
}
#gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: antiquewhite;
    margin-top: 20px;
}
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=chamovski-20&marketplace=amazon&amp;region=US&placement=B07FZ8S74R&asins=B07FZ8S74R&linkId=58ba05f03884abee9823e2e46197569c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>